datasets/Cora/
datasets/Pubmed/
datasets/CiteSeer/
lightning_logs/
datasets/CIFAR10/
datasets/PATTERN/
datasets/amazon_ratings/
datasets/roman_empire/
data/
setup_tests/
**__pycache__**
wandb

checkpoints/

.idea/
.vscode/
.DS_Store